// @import "../../theme/_styles.scss";

article {
  display: block;
}

.band {
  line-height: 1.6;
  width: 100%;
}

#main-content {
  // background: #fff;
  overflow-x: hidden;
  overflow-y: visible;
}

#main.padding-top {
  padding-top: 0;
}
